* {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  nav {
    width: 100%;
    background-color: rgb(174, 214, 236);
    height: 40px;
    display: flex;
    justify-content: space-between;
  }

  .dropbtn {
    background-color: rgb(174, 214, 236);
    padding: 11px;
    font-size: 15px;
    border: none;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: fixed;
    background-color: rgb(174, 214, 236);

  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: black;
    color: white;
  }

  .dropdown:hover .dropdown-content {
    display: block;

  }

  .dropdown:hover .dropbtn {
    background-color: black;
    color: white;
  }